@using Azin.Shadi.Core.DTOs;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@section MetaTag{

    <meta name=description content="فروشگاه تولد آذین - بازیابی کلمه عبور - اگه رمز عبورتو فراموش کردی که غصه نداره توی این صفحه راحت کلمه عبور جدید تنظیم کن! فقط یادت نره ها دوباره">
    <meta name=googlebot content=index,follow>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="" />

    <meta property=og:site_name value="فروشگاه تولد آذین">
    <meta property=og:title content="تنظیم کلمه عبور جدید">
    <meta property=og:url content="https://Azinshadi.ir/Login" />
    <meta property=og:image content="~/images/logo.png">
    <meta property=og:image:url content="~/images/logo.png" />
    <meta property=og:image:width content="500">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="فروشگاه تولد آذین -تنظیم کلمه عبور جدید ">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">فروشگاه تولد آذین</a></li>
        <li class="breadcrumb-item active" aria-current="page">تنظیم کلمه عبور جدید</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">رمز عبور با موفقیت تغییر یافت</p>
            </div>

            <script>
                // Your delay in milliseconds
                var delay = 3000;
                setTimeout(function () { window.location = "https://localhost:7184/login"; }, delay);
            </script>
        }
        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">

                <input type="hidden" asp-for="ActivationCode" />

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="password">
                </div>


                <div asp-validation-summary="All" class="text-danger">
                </div>
                <button class="btn btn-success"> بازیابی کلمه عبور </button>

            </form>
        </div>

    </div>
</main>