@using Azin.Shadi.DAL.Entities.User;
@model User
<div class="alert alert-success">
    <p>ایمیلی حاوی لینک تایید ایمیل برای ایمیل شما (@Model.Email) ارسال شد!</p>
    <p>جهت تایید ایمیل روی لینک ارسال شده کلیک کنید.</p>
    <p>با تشکر!</p>
</div>