<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> پنل کاربری</h4></header>
                        <ul>
                            <li><a href="/orders">سفارش های من</a></li>
                            <li><a href="">مشاهده پرداخت ها</a></li>
                            <li><a href="/userpanel/WalletRecharge">کیف پول من </a></li>
                            <li><a href="/userpanel/editprofile">ویرایش حساب کاربری </a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسته بندی ها</h4></header>
                        <ul>
                            <li><a href="">بادکنک</a></li>
                            <li><a href="">آتش بازی</a></li>
                            <li><a href="">تم تولد </a></li>
                            <li><a href="">عروسک </a></li>
                            <li><a href="">اکسسوری </a></li>
                            <li><a href="">متفرقه</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> خدمات مشتریان</h4></header>
                        <ul>
                            <li><a href="">سوالات متداول</a></li>
                            <li><a href="">ارتباط با ما </a></li>
                            <li><a href="">سفارش عمده</a></li>                          
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4>همراه ما باشید</h4></header>
                        <ul>   
                            <li><a href=""><i class="bi bi-instagram"></i>  Instagram</a></li>
                            <li><a href=""><i class="bi bi-telegram"></i> Telegram</a></li>
                            <li><a href=""><i class="bi bi-phone"></i> 09138558458</a> </li>                            
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p>
                تمامی حقوق مادی و معنوی این قالب متعلق به <a href="/"> فروشگاه تولد آذین </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
            </p>
        </div>
    </div>
</footer>