@using Azin.Shadi.DAL.Entities.User
@model User
<div dir="rtl">
    <h2>@Model.Name عزیز!</h2>
    <p>برای بازیابی کلمه عبور روی لینک زیر کلیک کنید!</p>
    <a href="https://localhost:7184/Account/ResetPassword/@Model.ActivationCode">جهت تایید ایمیل خود کلیک کنید!</a>
</div>