
@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section>

    @Html.Partial("_reportPanel")
</section>

<section class="AdminPanelOptions">
    <p>دسترسی سریع</p>
</section>