@using Azin.Shadi.Core.Convertors;
@using Azin.Shadi.Core.Services.Interfaces;
@using System.Security.Claims;
@inject IUserService _userService;

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var username = claimsIdentity.Claims.First(t => t.Type == ClaimTypes.NameIdentifier).Value;
    var user = _userService.GetSidebarUserData(username);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>

        <div class="avatar-layer">
            <div class="img-layer">
                <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="\images\UserProfile\Thumb\@user.ProfileName">
            </div>
            <div class="detail">
                <span> @user.Name </span>
                <span> عضویت : @user.RegisterDate.ToShamsi() </span>
            </div>
        </div>

        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a href="/userpanel/profile"> مشاهده حساب کابری </a></li>
                    <li><a href="/userpanel/editprofile"> ویرایش حساب کابری </a></li>
                    <li><a href="/Orders"> سفارش های من </a></li>
                    <li><a href="#"> مشاهده سبد خرید فعلی </a></li>
                    <li><a href="/userpanel/ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href="/userpanel/WalletRecharge"> کیف پول من </a></li>
                    <li><a href=""> تنظیمات حساب کاربری </a></li>
                    <li><a href="/LogOut"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>