@using Azin.Shadi.Core.Convertors;
@using Azin.Shadi.Core.Services.Interfaces;
@using System.Security.Claims;
@inject IUserService _userService;

@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var username = claimsIdentity.Claims.First(t => t.Type == ClaimTypes.NameIdentifier).Value;
    var user = _userService.GetSidebarUserData(username);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>
        <section>
            <div class="inner">
                <ul>
                    <li>
                        <p>@user.Name</p>
                        <span>@user.Email</span>
                    </li>
                    <li>
                        کیف پول
                        <span>@_userService.GetWalletBalance(username) تومان</span>
                        <a asp-area="userpanel" asp-controller="wallet" asp-action="WalletRecharge"> افزایش موجودی</a>
                    </li>
                </ul>
                <hr />
                <ul>
                    <li>
                        <i class="bi-cart3"></i>
                        <a href="/Orders"> سفارش های من </a>
                        </li>
                    <li>
                        <i class="bi-clipboard2"></i>
                        <a href="/Orders"> مشاهده فاکتور ها </a>
                        </li>
                    <li>
                        <i class="bi-person"></i>
                        <a href="/Orders"> اطلاعات حساب کاربری </a>
                        </li>
                    <li>
                        <i class="bi-box-arrow-right"></i>
                        <a href="/LogOut">خروج از حساب کاربری</></a>
                    </li>
                </ul>
            </div>
        </section>
    </aside>
</div>