@page
@using Azin.Shadi.DAL.Entities.User;
@using Azin.Shadi.Web.Pages.Admin.User;
@model Azin.Shadi.Web.Pages.Admin.User.CreateModel
@{
    ViewData["Title"] = "افزودن کاربر";
    List<Role> roles = ViewData["Roles"] as List<Role>;
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن کاربر جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    اطلاعات کاربر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>نام </label>
                        <input type="text" asp-for="User.Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" asp-for="User.Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>کلمه عبور</label>
                        <input type="text" asp-for="User.Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>انتخاب نقش کاربر</label>
                        @foreach (var item in roles)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedRoles" value="@item.RoleId">@item.Title
                                </label>
                            </div>
                        }

                    </div>
                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    تصویر پروفایل
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img id="imgAvatar" class="thumbnail" src="~/images/userprofile/default-profile.jpg" />
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input class="form-control custom-file-input" type="file" asp-for="User.UserAvatar">
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </form>
</div>

@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#User_UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}
