
<div class="mostSellSection shadow bg-white container-fluid mt-5" id="bestSeller">
    <table class="table">
        <tr>
            <td>
                <p class="mt-3 me-2" style="font-size:18px;"><b>پرفروش ترین محصولات</b></p>
            </td>
        </tr>
        <tr class="text-center card-group">
            <td class="card-body">
                <img src="~/Images/بادکنک یلدا.jpg" class="card-img" />
                <p class="card-title fw-bold">بادکنک لاتکس یلدا</p>
                <p class="card-footer fw-bold text-danger">2000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/سفره متالیز.jpg" class="card-img" />
                <p class="card-title fw-bold">سفره متالایز بنفش</p>
                <p class="card-footer fw-bold text-danger">48000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع مدادی.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع مدادی تکی</p>
                <p class="card-footer fw-bold text-danger">16000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع فسفری.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع فسفری رنگی</p>
                <p class="card-footer fw-bold text-danger">15000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/بسقاب بنفش.jpg" class="card-img" />
                <p class="card-title fw-bold">بشقاب لیوان 10 نفره بفنش</p>
                <p class="card-footer fw-bold text-danger">23000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
        </tr>
        <tr class="text-center card-group">
            <td class="card-body">
                <img src="~/Images/بادکنک یلدا.jpg" class="card-img" />
                <p class="card-title fw-bold">بادکنک لاتکس یلدا</p>
                <p class="card-footer fw-bold text-danger">2000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/سفره متالیز.jpg" class="card-img" />
                <p class="card-title fw-bold">سفره متالایز بنفش</p>
                <p class="card-footer fw-bold text-danger">48000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع مدادی.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع مدادی تکی</p>
                <p class="card-footer fw-bold text-danger">16000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع فسفری.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع فسفری رنگی</p>
                <p class="card-footer fw-bold text-danger">15000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/بسقاب بنفش.jpg" class="card-img" />
                <p class="card-title fw-bold">بشقاب لیوان 10 نفره بفنش</p>
                <p class="card-footer fw-bold text-danger">23000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
        </tr>
        <tr class="text-center card-group">
            <td class="card-body">
                <img src="~/Images/بادکنک یلدا.jpg" class="card-img" />
                <p class="card-title fw-bold">بادکنک لاتکس یلدا</p>
                <p class="card-footer fw-bold text-danger">2000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/سفره متالیز.jpg" class="card-img" />
                <p class="card-title fw-bold">سفره متالایز بنفش</p>
                <p class="card-footer fw-bold text-danger">48000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع مدادی.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع مدادی تکی</p>
                <p class="card-footer fw-bold text-danger">16000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/شمع فسفری.jpg" class="card-img" />
                <p class="card-title fw-bold">شمع فسفری رنگی</p>
                <p class="card-footer fw-bold text-danger">15000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
            <td class="card-body">
                <img src="~/Images/بسقاب بنفش.jpg" class="card-img" />
                <p class="card-title fw-bold">بشقاب لیوان 10 نفره بفنش</p>
                <p class="card-footer fw-bold text-danger">23000 تومان</p>
                <button class="btn-primary btn">خرید</button>
            </td>
        </tr>

    </table>
</div>
