
<div class="row">
    <div class="col-md-8">
        <a>
            <img class="Rightpicture" src="~/Images/gift-box.jpg" />
        </a>
    </div>

    <div class="col-md-4">
        <a>
            <img class="Leftpicture mt-1" src="~/Images/download (1).jpg" />
            <img class="Leftpicture mt-3" src="~/Images/download.jpg" />
        </a>
    </div>
</div>