
<table class="table">

    <tr>
        <td>
            <p class="mt-3 me-2" style="font-size:18px;"><b>دسته بندی محصولات</b></p>
        </td>
    </tr>

    <tr class="card-group text-center">
        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (1).jpg" />
            <p class="card-title">بادکنک لاتکس</p>
        <td />

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (2).jpg" />
            <p class="card-title">اتشبازی و نورافشانی</p>
        <td />

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (3).jpg" />
            <p class="card-title">تاج و کلاه تولد</p>
        <td />

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (4).jpg" />
            <p class="card-title">تزئینات</p>
        </td>

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (5).jpg" />
            <p class="card-title">تم تولد</p>
        </td>

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download (6).jpg" />
            <p class="card-title">شمع کیک</p>
        </td>

        <td class="card-body">
            <img class="card-img" src="~/Images/Category/download.jpg" />
            <p class="card-title">بادکنک فویلی</p>
        </td>
    </tr>

</table>