
@{
    ViewBag.Title = "خانه";
}

<div class="col-md-12 mt-5">
    @Html.Partial("_indexGallery");
</div>

<div class="secondIndexDiv shadow bg-white container-fluid mt-5" id="productcategory">
    @Html.Partial("_productCategory");
</div>

<div style="height:480px; overflow:hidden;">
    @Html.Partial("__MostSelection");
</div>




